@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu&display=swap');

body{
    margin: 0%;
    padding: 05;
    font-family: 'Lato';
}

.navbar-brand{
    font-family: 'Pacifico';
    font-size: 35px;
    color: lightcoral !important;
}
.nav-link{
    font-size: 16px;
    margin: 15px;
    color: black !important;
    font-family: 'Roboto Condensed';
}
.nav-link:hover {
    color:#00E8E8 !important;
}

.active .nav-link {
    color:#00E8E8 !important;
}
.menu-right-btn {
    padding:13px 46px;
    margin-right: 4%;
    background-color: transparent;
    transition: all 300ms ease-in;
}
.menu-right-btn:hover {
    color:white;
    background-color: #00E8E8;
}
.site-content{
    background-image: url('images/pixel 7.jpg'); 
    background-attachment: fixed;
    background-size: cover;
    }
 .site-title, .site-desc{
     font-family:'Righteous';
 }

.site-title{
     margin-top:30%;
     margin-bottom: 6%;
     font-size:50px;
 }
 .site.desc {
     font-size:14px;
     padding-left:15px;
 }

 .site-btn1 {
     margin-left:20px;
     background-color: black;
     color:white;
 }

 .site-btn2 {
     background-color: white;
}

.site-btn1 , .site-btn2 {
    margin-top:5%;
    margin-bottom: 40%;
}

/* Section 1 */

.section-1 .heading-1{
    margin-top:8%;
}
.section-1 .heading-2 {
    margin-bottom: 5%;
    font-size: 39px;
}
.section-1 .para-1 {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
}
.section-1 .card-text, .para-1 {
    color: rgba(0, 0, 0, 0.59);
}
.section-1 {
    margin-bottom: 8%;
}
/* section 2*/
.section-2 .container-fluid {
    background-image:url('images/pixel 6.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.section-2 .heading-1 {
    margin-top:20%;
    margin-bottom:4%;
    font-family:'Righteous';
    width:80%;
    color:whitesmoke;
}
.section-2 .para{
    width:80%;
    font-family:'Ubuntu';
    color:whitesmoke;
    margin-bottom: 7%;
}
.section-2 .btn {
    margin-bottom:15%;
    width:30%;
    padding: 2% 5%;
}

/* section 3*/

.section-3 {
    margin-top: 6%;
}
.section-3 i {
    color: #00e8e8;
}

.section-3 p {
    color:rgba(0, 0, 0, 0.59);
}
